<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>sew&so</title>
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="./css/master.css">
  </head>
  <body class="flexCol" ng-app='app' ng-controller='ctrl' ng-cloak>

    <!--        LANDING PAGE         -->
    <div class="landingPage flexRow none">
      <div class="homePageContainer flexCol">
        <div class="topHomePage">
          <div class="homePageNav flexRow">
            <div class="hamburgerMenu pointer"></div>
            <div class="logInOrSignUp flexRow">
              <p class="pointer">Log In</p>
              <p class="pointer">Sign Up</p>
            </div>
          </div>
        </div>
        <div class="bottomHomePage">

        </div>
      </div>
    </div>

    <div class="container ">

      <!--        NAVIGATOIN         -->
      <div class="navigationBar flexRow ">
        <div class="navHolder flexRow">
          <p ng-repeat="nav in navOptions" class="pointer">{{nav}}</p>
        </div>
        <div class="imgHolder flexRow">
          <img class="customize pointer" src="./images/sewing.png" alt="">
          <p>click to customize</p>
          <img class="point" src="./images/point.png" alt="">
        </div>
      </div>

      <!--        PAGEBODY         -->
      <div class="pageBody flexRow ">

        <!--        SIDEBAR         -->
        <div class="sideBar flexRow">
          <div class="sideBarLiner">
            <div class="sideBarOption flexCol cart">
              <div class="cartItemHeading flexRow">
                <h1>CART</h1>
                <img src="./images/shoppingBag.png" alt="">
                <div class="itemNumber flexRow"><p>{{cartQuantity}}</p></div>
              </div>

              <!--        CART SECTION         -->
              <div class="cartItemsHolder">
                <div id={{$index}} class="cartItem flexRow" ng-repeat="cartItem in cartItems track by $index">
                  <img src={{cartItem.img}} alt="">
                  <div class="cartItemDescriptionSection">
                    <h2 class="cartItemDescription">{{cartItem.name}}</h2>
                    <h2 class="cartItemPrice">{{cartItem.price}}</h2>
                  </div>
                  <div data-cartId={{$index}} class="xBtn pointer" ng-click='removeFromCart($index)'><p>x</p></div>
                </div>
              </div>

            </div>

            <!--        CATEGORIES         -->
            <div class="sideBarOption flexCol categories">
              <h1>CATEGORIES</h1>

              <div class="categoriesFilter flexRow" ng-repeat="category in filters.categories track by $index">
                <div data-category={{$index}} class="checkBox pointer" ng-click='checkboxClick($event, $index)'></div>
                <div class="filterText">{{category}}</div>
              </div>

            </div>

            <!--        COLORS         -->
            <div class="sideBarOption flexCol colors">
              <h1>COLORS</h1>
              <div class="colorSection flexRow">

                <div class="colorStrip flexRow" ng-repeat="color in filters.colors track by $index">
                  <div data-color={{$index}} class="colorCircle pointer" style="background-color: {{color.hex}}" ng-click='colorClick($event, $index)'></div>
                  <div data-color={{$index}} class="filterText pointer" ng-click='colorClick($event, $index)'>{{color.name}}</div>
                </div>

              </div>
            </div>

            <!--        SIZES         -->
            <!-- <div class="sideBarOption flexCol sizes">
              <h1>SIZES</h1>
              <div class="sideBarSection flexRow">

                <div class="sideBarStrip flexRow" ng-repeat="size in filters.sizes">
                  <div data-size={{$index}} class="checkBox pointer" ng-click='checkboxClick($event, $index)'></div>
                  <div class="filterText">{{size}}</div>
                </div>

              </div>
            </div> -->

          </div>
        </div>

        <!--        ITEM SECTION         -->
        <div class="itemSection flexRow">
          <div id={{$index}} class="itemBox flexCol" ng-class={{dynamicClasses}}  ng-repeat="product in products track by $index" ng-mouseover="showOptions($event)" ng-mouseleave="hideOptions($event)">

            <div id={{$index}} class="itemPreview">
              <img data={{$index}} src={{product.img}} class="itemImage itemImg" alt="">
              <div class="itemDesciption flexRow">
                <div class="desciption flexCol">
                  <h2>{{product.name}}</h2>
                  <p>{{product.desciption}}</p>
                </div>
                <div class="itemPriceSection flexRow">
                  <h2>{{product.price}}</h2>
                </div>
              </div>
            </div>

            <div id={{$index}} class="options">
              <img src={{product.img}} class="itemImage" alt="">
              <div class="itemDesciption flexRow">
                <div class="desciption flexCol">
                  <h2>{{product.name}}</h2>
                  <p>{{product.desciption}}</p>
                  <p class="details">{{product.details}}</p>
                </div>
                <div class="itemPriceSection flexRow">
                  <h2>{{product.price}}</h2>
                </div>
              </div>
              <div class="optionsBgColor"></div>
              <div class="optionsScreen flexRow">
                <div ng-if='clickIt'>
                  <img class="customizeItems pointer" src="./images/sewing.png" alt="">
                  <div view class="pointer"></div>
                  <div tocart class="pointer"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <!--        GALLERY         -->
    <div class="shoppingCartBigView flexRow">
      <div class="shadedArea" ng-click="hideBigView()"></div>
      <div class="bigView flexRow">
        <div class="leftArrow flexRow pointer" ng-click='galleryLeftClick()'><p>&#x276E;</p></div>
        <div class="galleryImgSection flexRow">
          <img src={{currentSlideImg}} alt="">
        </div>
        <div class="rightArrow flexRow pointer" ng-click='galleryRightClick()'><p>&#x276F;</p></div>
        <div class="galleryOptions flexCol">
          <div class="xBtnGalleryView flexRow pointer" ng-click="hideBigView()"><p>&#xd7;</p></div>
          <div class="addCartBtnGalleryView flexRow pointer">
            <img src="./images/shoppingBag.png" alt="" ng-click="moveToCart(currentImgEvent,currentIndex)">
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="./js/database.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>
