<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>sew&so</title>
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="./css/master.css">
  </head>
  <body class="flexCol" ng-app='app' ng-controller='ctrl'>

    <div class="container">

      <div class="navigationBar flexRow">
        <p>HOME</p>
        <p>BRANDS</p>
        <p>DESIGNERS</p>
        <p>CONTACT</p>
      </div>

      <div class="pageBody flexRow">

        <div class="sideBar flexRow">
          <div class="sideBarLiner">
            <div class="sideBarOption flexCol cart">
              <div class="cartItemHeading flexRow">
                <h1>CART</h1>
                <img src="./images/shoppingBag.png" alt="">
              </div>

              <div class="cartItem flexRow">
                <img src="" alt="">
                <div class="cartItemDescriptionSection">
                  <h2 class="cartItemDescription">HANDBAG MADE FOR WALKG</h2>
                  <h2 class="cartItemPrice">$40</h2>
                </div>
              </div>
              <div class="cartItem flexRow">
                <img src="" alt="">
                <div class="cartItemDescriptionSection">
                  <h2 class="cartItemDescription">HANDBAG MADE FOR WALKG</h2>
                  <h2 class="cartItemPrice">$40</h2>
                </div>
              </div>

            </div>
            <div class="sideBarOption flexCol categories">
              <h1>CATEGORIES</h1>

              <div class="categoriesFilter flexRow">
                <div class="checkBox"></div>
                <div class="filterText">NEW ARRIVALS</div>
              </div>
              <div class="categoriesFilter flexRow">
                <div class="checkBox"></div>
                <div class="filterText">NEW ARRIVALS</div>
              </div>

            </div>
            <div class="sideBarOption flexCol colors">
              <h1>COLORS</h1>
              <div class="colorSection flexRow">

                <div class="colorStrip flexRow">
                  <div class="colorCicrle"></div>
                  <div class="filterText">Light Red</div>
                </div>
                <div class="colorStrip flexRow">
                  <div class="colorCicrle"></div>
                  <div class="filterText">Light Red</div>
                </div>
                <div class="colorStrip flexRow">
                  <div class="colorCicrle"></div>
                  <div class="filterText">Light Red</div>
                </div>
                <div class="colorStrip flexRow">
                  <div class="colorCicrle"></div>
                  <div class="filterText">Light Red</div>
                </div>
                <div class="colorStrip flexRow">
                  <div class="colorCicrle"></div>
                  <div class="filterText">Light Red</div>
                </div>

              </div>
            </div>
            <div class="sideBarOption flexCol sizes">
              <h1>SIZES</h1>
              <div class="sideBarSection flexRow">

                <div class="sideBarStrip flexRow">
                  <div class="checkBox"></div>
                  <div class="filterText">XS</div>
                </div>
                <div class="sideBarStrip flexRow">
                  <div class="checkBox"></div>
                  <div class="filterText">S</div>
                </div>
                <div class="sideBarStrip flexRow">
                  <div class="checkBox"></div>
                  <div class="filterText">L</div>
                </div>
                <div class="sideBarStrip flexRow">
                  <div class="checkBox"></div>
                  <div class="filterText">XL</div>
                </div>

              </div>
            </div>

          </div>
        </div>

        <div class="itemSection flexRow">

          <div class="itemBox flexCol">
            <div data='1' class="itemImage" ng-click='moveToCart($event)'></div>
            <div class="itemDesciption flexRow">
              <div class="desciption flexCol">
                <h2>DROP DEAD RED SHOES</h2>
                <p>summer shoes</p>
              </div>
              <div class="itemPriceSection flexRow">
                <h2>$39</h2>
              </div>
            </div>
          </div>
          <div class="itemBox flexCol">
            <div data='2' class="itemImage" ng-click='moveToCart($event)'></div>
            <div class="itemDesciption flexRow">
              <div class="desciption flexCol">
                <h2>DROP DEAD RED SHOES</h2>
                <p>summer shoes</p>
              </div>
              <div class="itemPriceSection flexRow">
                <h2>$39</h2>
              </div>
            </div>
          </div>
          <div class="itemBox flexCol">
            <div data='3' class="itemImage" ng-click='moveToCart($event)'></div>
            <div class="itemDesciption flexRow">
              <div class="desciption flexCol">
                <h2>DROP DEAD RED SHOES</h2>
                <p>summer shoes</p>
              </div>
              <div class="itemPriceSection flexRow">
                <h2>$39</h2>
              </div>
            </div>
          </div>
          <div class="itemBox flexCol">
            <div data='4' class="itemImage" ng-click='moveToCart($event)'></div>
            <div class="itemDesciption flexRow">
              <div class="desciption flexCol">
                <h2>DROP DEAD RED SHOES</h2>
                <p>summer shoes</p>
              </div>
              <div class="itemPriceSection flexRow">
                <h2>$39</h2>
              </div>
            </div>
          </div>
          <div class="itemBox flexCol">
            <div data='5' class="itemImage" ng-click='moveToCart($event)'></div>
            <div class="itemDesciption flexRow">
              <div class="desciption flexCol">
                <h2>DROP DEAD RED SHOES</h2>
                <p>summer shoes</p>
              </div>
              <div class="itemPriceSection flexRow">
                <h2>$39</h2>
              </div>
            </div>
          </div>
          <div class="itemBox flexCol">
            <div data='6' class="itemImage" ng-click='moveToCart($event)'></div>
            <div class="itemDesciption flexRow">
              <div class="desciption flexCol">
                <h2>DROP DEAD RED SHOES</h2>
                <p>summer shoes</p>
              </div>
              <div class="itemPriceSection flexRow">
                <h2>$39</h2>
              </div>
            </div>
          </div>

        </div>



      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>
